__pycache__/category.cpython-310.pyc
__pycache__/createDB.cpython-310.pyc
__pycache__/dashboard.cpython-310.pyc
__pycache__/employee.cpython-310.pyc
__pycache__/epfile.cpython-310.pyc
__pycache__/functions.cpython-310.pyc
__pycache__/product.cpython-310.pyc
__pycache__/sales.cpython-310.pyc
__pycache__/supplier.cpython-310.pyc
.vscode/settings.json
